@model PlacementSystem.Models.Jobs.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternshipDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipStipend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternshipStipend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
